* {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: black;
}
body{
    margin: 0;
}

nav {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    height: 10vh;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: start;
}

nav ul li{
    margin-right: 25px;
    font-size: 18px;
    color: black;
    align-items: center;
    justify-content: center;
}

.nav-left{
    flex: 80%;
}

.nav-right{
    flex: 20%;
    text-align: end;
    margin-right: 35px;
    align-items: center;
}

.nav-right a{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.container{
    margin: 20px auto;
    justify-content: center;
    width: 80%;
}
.container .rating{
    width: 80%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.rating-button{
    color: white;
    background-color: orangered;
    border-radius: 5px;
}
.rating-button i{
    color: white;
}
.container h1{
    text-align: center;
}
.container .testi-list{
    width: 80%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}
.testi-list h1{
    text-align: center;
}
.container .testi-list .testi{
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
    padding: 10px;
    height:max-content;
}
.author, .rate{
    text-align: right;
}
.container .testi-list .testi img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#barsmenu{
    display: none;
}
.hamburger-nav-container{
    font-size: 20px;
    list-style-type: none;
    display: none;
}

.hamburger-nav-container a {
    text-decoration: none;
    color: #fff;
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
  }
  
.hamburger-nav-container .hamburger-active {
      text-decoration: none;
      color: #fff;
      background-color: orangered;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: 1px solid #fff;
    }
@media only screen and (max-width : 480px){
    .item-collapse{
        display: none;
    }
    #barsmenu{
        display: block;
    }
    .container{
        margin: 15px auto;
    }
    .testi-list{
        margin: 15px auto;
        justify-content: center;
    }
}